<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mühle</title>
    <link rel="icon" href="http://example.com/favicon.png">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/base.css') }}">
</head>
<body>
<div class="body">
    <div class="sidebar_trigger">
        <a href=""><i class="sidebar_icon fas fa-bars"></i> </a>
    </div>
    <div class="sidebar flex-column flex-shrink-0 p-3 text-white bg-dark">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <span class="fs-4">Mühle.com</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="/" class="nav-link text-white" aria-current="page">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#home"></use>
                    </svg> <!-- add some svg -->
                    Startseite
                </a>
            </li>
            <li>
                <a href="/game" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#speedometer2"></use>
                    </svg> <!-- add some svg -->
                    Spielen
                </a>
            </li>
            <li>
                <a href="/history" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#table"></use>
                    </svg>
                    Historie
                </a>
            </li>
            <li>
                <a href="/contact" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#grid"></use>
                    </svg>
                    Kontakt
                </a>
            </li>
            <li>
                <a href="/impressum" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#people-circle"></use>
                    </svg>
                    Impressum
                </a>
            </li>
        </ul>
        <hr>
        <div class="dropdown">
            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
               id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                <strong>{{ user.userName}}</strong>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1" style="">
                {% if user.randomPlayer %}
                <li><a class="dropdown-item" href="/sign_in">Anmelden</a></li>
                <li><a class="dropdown-item" href="/sign_up">Registrieren</a></li>
                {% else %}
                <li><a class="dropdown-item" href="/settings">Einstellungen</a></li>
                <li><a class="dropdown-item" href="/profile">Account</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="/sign_out">Sign out</a></li>
                {% endif %}
            </ul>
        </div>
        <footer class="footer text-muted text-center text-small">
            <p class="mb-1">© 2021 Mühle.com</p>
        </footer>
    </div>
    <div id="main_block" class="main">
        {% block main %}
        {% endblock %}
    </div>
</div>
</body>
</html>
