{% extends "base.html" %}
{% block main %}

<link rel="stylesheet" href="/static/styles/game.css">
<script src="https://d3js.org/d3.v5.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
        integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
        crossorigin="anonymous"></script>


{% if newgame is true() %}
<div id="popup" class="modal" style="display:block;">
    <div class="modal-content">
        <span class="popupheader">
            Neues Spiel starten
        </span>
        <p class="popuptext">Bitte wählen Sie ob Sie ein Spiel gegen einen menschlichen Spieler oder gegen den Computer
            spielen möchten.</p>
        <form id="newgameform" method="post"></form>
        <div class="btn-group-vertical" role="group">
            <button class="btn btn-primary" type="submit" form="newgameform" name="gametype" value="human"
                    ">Menschlicher Gegner
            </button>
            <button class="btn btn-primary" type="submit" form="newgameform" name="gametype" value="bot"
                    ">Computer Gegner
            </button>
        </div>

    </div>
</div>
{% else %}
<div id="waitingpopup" class="modal">
    <div class="modal-content">
        <span class="popupheader">
            Warten auf Gegner
        </span>
        <p class="popuptext">Schicken Sie den Link an ihren Mitspieler:</p>
        <input id="gameUrl" type="text" value="" readonly>
        <small>Durch Klicken in die Zwischenablage kopieren</small>
    </div>
</div>
{% endif %}

<div>
    <h1>Spiel</h1>
</div>

<div>
    <h2 id="ownName">{{user.username}}</h2>
</div>
<div>
    <svg id="game" width="100%" viewBox="0 0 400 400">

        <rect id="border" x="0" y="0" width="400" height="400"></rect>

        <line class="board" id="topline" x1="200" y1="50" x2="200" y2="150"/>
        <line class="board" id="rightline" x1="250" y1="200" x2="350" y2="200"/>
        <line class="board" id="bottomline" x1="200" y1="250" x2="200" y2="350"/>
        <line class="board" id="leftline" x1="50" y1="200" x2="150" y2="200"/>

        <rect class="board" id="outerrect" x="50" y="50" width="300" height="300"></rect>
        <rect class="board" id="middlerect" x="100" y="100" width="200" height="200"></rect>
        <rect class="board" id="innerrect" x="150" y="150" width="100" height="100"></rect>

        <circle id="pos-0-0" class="dot" cx="50" cy="50" r="15"/>
        <circle id="pos-0-3" class="dot" cx="200" cy="50" r="15"/>
        <circle id="pos-0-6" class="dot" cx="350" cy="50" r="15"/>
        <circle id="pos-1-1" class="dot" cx="100" cy="100" r="15"/>
        <circle id="pos-1-3" class="dot" cx="200" cy="100" r="15"/>
        <circle id="pos-1-5" class="dot" cx="300" cy="100" r="15"/>
        <circle id="pos-2-2" class="dot" cx="150" cy="150" r="15"/>
        <circle id="pos-2-3" class="dot" cx="200" cy="150" r="15"/>
        <circle id="pos-2-4" class="dot" cx="250" cy="150" r="15"/>
        <circle id="pos-3-0" class="dot" cx="50" cy="200" r="15"/>
        <circle id="pos-3-1" class="dot" cx="100" cy="200" r="15"/>
        <circle id="pos-3-2" class="dot" cx="150" cy="200" r="15"/>
        <circle id="pos-3-4" class="dot" cx="250" cy="200" r="15"/>
        <circle id="pos-3-5" class="dot" cx="300" cy="200" r="15"/>
        <circle id="pos-3-6" class="dot" cx="350" cy="200" r="15"/>
        <circle id="pos-4-2" class="dot" cx="150" cy="250" r="15"/>
        <circle id="pos-4-3" class="dot" cx="200" cy="250" r="15"/>
        <circle id="pos-4-4" class="dot" cx="250" cy="250" r="15"/>
        <circle id="pos-5-1" class="dot" cx="100" cy="300" r="15"/>
        <circle id="pos-5-3" class="dot" cx="200" cy="300" r="15"/>
        <circle id="pos-5-5" class="dot" cx="300" cy="300" r="15"/>
        <circle id="pos-6-0" class="dot" cx="50" cy="350" r="15"/>
        <circle id="pos-6-3" class="dot" cx="200" cy="350" r="15"/>
        <circle id="pos-6-6" class="dot" cx="350" cy="350" r="15"/>

    </svg>
    <script src="/static/js/game.js"></script>
</div>
<div>
    <h2 id="enemyName">Versus:</h2>
</div>


{% endblock %}