{% extends "base.html" %}
{% block main %}

<link rel="stylesheet" href="/static/styles/main.css">

<div class="main_container">
    <div class="panel1">
        <div class="play_container">
            <form id="newgameform" action="{{url_for('game')}}" method="post"></form>
            <div class="play_friend container_item">
                <button class="play_button" type="submit" form="newgameform" name="gametype" value="human">
                    <i class="fas fa-user"></i>
                    Menschlicher Gegner
                </button>

            </div>
            <div class="play_bot container_item">
                <button class="play_button" type="submit" form="newgameform" name="gametype" value="bot">
                    <i class="fas fa-robot"></i>
                    Computer Gegner
                </button>

            </div>
        </div>
        {% if active_games is defined and active_games|length > 0 %}
        <div class="active_games container_item">
            <h2>Aktive Spiele:</h2>
            <div>
                <table>
                    {% for game in active_games %}
                    <tr onclick="window.location='{{game.link}}';">
                        <td>{{game.player1}}</td>
                        <td>vs.</td>
                        <td>{{game.player2}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>

        </div>
        {% endif %}

        {% if game_history is defined and game_history|length > 0 %}
        <div class="game_history container_item">
            <h2>Spiel Historie:</h2>
            <hr>
            <table>
                <thead>
                <th>Spieler</th>
                <th>Ergebnis</th>
                <th>Datum</th>
                </thead>
                <tbody>
                {% for game in game_history %}
                <tr>
                    <td>
                        <div>
                            <span>{{game.player1}}</span>
                            <span>{{game.player2}}</span>
                        </div>
                    </td>
                    <td>
                        <div>
                            <span>{{game.resultP1}}</span>
                            <span>{{game.resultP2}}</span>
                        </div>
                    </td>

                    <td>
                        <span>{{game.date}}</span>
                    </td>
                </tr>
                {% endfor %}

                </tbody>
            </table>


        </div>
        {% endif %}
    </div>

    <div class="panel2">
        <div class="leaderboard container_item">
            <h2>Bestenliste:</h2>
            <hr>
        </div>

        <div class="statistics container_item">
            <h2>Statistik:</h2>
        </div>
    </div>
</div>
{% endblock %}