{% extends "base.html" %}
{% block main %}
<div style="padding-bottom: 20px; margin: 2%">
    <h1 itemprop="headline">
        Mühle Spielregeln
    </h1>
    <p><em>Diese Seite wurde kopiert: <a href="https://www.spielezar.ch/blog/spielregeln/muehle-spielregeln">Mühle
        Regeln</a></em></p>

    <div itemprop="text">
        <div>
            <b>Inhaltsverzeichnis:</b>
            <ul data-toc="div.simpleblog-single .post-content" data-toc-headings="h2" style="">
                <li><a href="#Grundlagen_des_Spiels">Grundlagen des Spiels</a></li>
                <li><a href="#Die_Spielregeln">Die Spielregeln</a></li>
                <li><a href="#Strategien_für_Mühle">Strategien für Mühle</a></li>
            </ul>
        </div>
        <h2 id="Grundlagen_des_Spiels">Grundlagen des Spiels</h2>
        <h3>Anzahl der Spieler</h3>
        <p>Mühle wird immer zu zweit gespielt. Das Spiel ist für alle Generationen spannend.</p>
        <h3>Das Spielfeld</h3>
        <p>Das Spielfeld besteht aus drei ineinanderliegenden Quadraten. Deren Seitenmitten sind über Geraden
            miteinander verbunden. Mit dieser raffinierten Konstruktion entstehen bei jedem Quadrat acht
            Schnittpunkten.</p>
        <p><a
                href="https://www.chesspoint.ch/img/cms/spielezar/blog/artikel/brettspiele/muehle/muehle-1-spielfeld.gif"
        ><img
                src="https://www.chesspoint.ch/img/cms/spielezar/blog/artikel/brettspiele/muehle/muehle-1-spielfeld.gif"
                alt="Das klassische Spielfeld von Mühle." width="250" height="250"><span
        ></span></a>
        <div style="text-align:center;">Das klassische Spielfeld von Mühle.</div>
        </p>
        <h3>Die Spielfiguren</h3>
        <p>Beide Spieler besitzen zu Beginn neun Spielsteine, die durch zwei unterschiedliche Farben voneinander zu
            unterschieden sind. In unseren Grafiken verwenden wir grau und schwarz.</p>
        <h3>Ziel des Spiels</h3>
        <p>Ziel des Spiels ist es, so viele Mühlen wie möglich zu schliessen und damit Spielsteine des Gegners vom Brett
            nehmen zu können, bis dieser nur noch zwei Spielsteine übrig hat.</p>
        <h2 id="Die_Spielregeln">Die Spielregeln</h2>
        <p>Jede Partie besteht aus drei Phasen, in denen jeweils bestimmte Regeln zu beachten sind:</p>
        <h3>1. Setzphase</h3>
        <p>In der Setzphase legen die beiden Spieler ihre Spielsteine abwechselnd auf das zunächst leere Spielbrett. Als
            Ablagepunkte dienen die acht Schnittpunkte eines Quadrates. Traditionell beginnt der Spieler, der die
            weissen Spielsteine hat. Wer die weissen Spielsteine bekommt, wird zuvor ausgelost.</p>
        <p><a
                href="https://www.chesspoint.ch/img/cms/spielezar/blog/artikel/brettspiele/muehle/muehle-2-setzphase.gif"
        ><img
                src="https://www.chesspoint.ch/img/cms/spielezar/blog/artikel/brettspiele/muehle/muehle-2-setzphase.gif"
                alt="Mögliche Positionen bei der Setzphase." width="250" height="250"><span
        ></span></a>
        <div style="text-align:center;">Mögliche Positionen bei der Setzphase.</div>
        </p>
        <h3>2. Zugphase</h3>
        <p>Nachdem beide Spieler ihre neun Spielsteine gesetzt haben, beginnt die Zugphase des Spiels. In dieser ist es
            jedem Spieler erlaubt, seine eigenen Spielsteine von einem Schnittpunkt zu einem benachbarten zu ziehen.
            Allerdings müssen die Schnittpunkte, auf die gezogen werden soll, frei von anderen Spielsteinen sein. Auch
            in dieser Phase wechseln sich die beiden Spieler mit ihren Zügen ab.</p>
        <p><a
                href="https://www.chesspoint.ch/img/cms/spielezar/blog/artikel/brettspiele/muehle/muehle-3-zugphase.gif"
        ><img
                src="https://www.chesspoint.ch/img/cms/spielezar/blog/artikel/brettspiele/muehle/muehle-3-zugphase.gif"
                alt="Die Pfeile repräsentieren die Zugmöglichkeiten." width="250" height="250"><span
        ></span></a>
        <div style="text-align:center;">Die Pfeile repräsentieren die Zugmöglichkeiten.</div>
        </p>
        <p>Ein komplexeres Beispiel - Weiss ist am Zug:</p>
        <p><a
                href="https://www.chesspoint.ch/img/cms/spielezar/blog/artikel/brettspiele/muehle/muehle-4-zugphase.gif"
        ><img
                src="https://www.chesspoint.ch/img/cms/spielezar/blog/artikel/brettspiele/muehle/muehle-4-zugphase.gif"
                alt="Alle weissen Möglichkeiten sind mit einem roten Pfeil gekennzeichnet." width="250"
                height="250"><span></span></a>
        <div style="text-align:center;">Alle weissen Möglichkeiten sind mit einem roten Pfeil
            gekennzeichnet.
        </div>
        </p>
        <h3>3. Endphase (Sprungphase)</h3>
        <p>Die Endphase beginnt für einen Spieler, sobald er nur noch drei Spielsteine zur Verfügung hat. Er darf nun
            seine Spielsteine von einem beliebigen Schnittpunkt zu einem freien anderen bewegen. Es ist also nicht mehr
            zwingend notwendig, dass Schnittpunkte, auf die gezogen werden soll, benachbart sind.</p>
        <p>Wenn beide Spieler nur noch drei Steine besitzen, befinden sich beide in der Sprungphase. Hier ist der
            Spieler mit der Initiative klar im Vorteil. Mit anderen Worten: Wer die erste Mühle zu schliessen, droht
            wird schlussendlich mit einer Doppeldrohung gewinnen.</p>
        <p>In folgendem Beispiel darf Weiss, da er nur noch drei Steine hat, mit einem beliebigen seiner Steine auf ein
            freies Feld (rot markiert) springen:</p>
        <p><a
                href="https://www.chesspoint.ch/img/cms/spielezar/blog/artikel/brettspiele/muehle/muehle-5-sprungphase.gif"
        ><img
                src="https://www.chesspoint.ch/img/cms/spielezar/blog/artikel/brettspiele/muehle/muehle-5-sprungphase.gif"
                alt="Weiss hat nur noch drei Steine und darf deshalb Springen." width="250" height="250"><span
        ></span></a>
        <div style="text-align:center;">Weiss hat nur noch drei Steine und darf deshalb
            Springen.
        </div>
        </p>
        <p>Weiss muss unbedingt eine Drohung abwehren – sonst verliert er. Finden Sie den besten Weissen Zug? Lesen Sie
            dazu die ganzen Mühlespielregeln zu Ende und schreiben Sie die Lösung anschliessend in die Kommentare.</p>
        <h3>Mühlen bilden</h3>
        <p>Eine Mühle entsteht, sobald drei Spielsteine einer Farbe auf einer Geraden nebeneinander liegen. Dies gilt
            sowohl für vertikale, als auch für horizontale Geraden.</p>
        <p><a
                href="https://www.chesspoint.ch/img/cms/spielezar/blog/artikel/brettspiele/muehle/muehle-6-wagerecht.gif"
        ><img
                src="https://www.chesspoint.ch/img/cms/spielezar/blog/artikel/brettspiele/muehle/muehle-6-wagerecht.gif"
                alt="Eine horizontale Mühle" width="250" height="250"><span></span></a>
        <div style="text-align:center;">Eine horizontale Mühle</div>
        </p>
        <p><a
                href="https://www.chesspoint.ch/img/cms/spielezar/blog/artikel/brettspiele/muehle/muehle-7-senkrecht.gif"
        ><img
                src="https://www.chesspoint.ch/img/cms/spielezar/blog/artikel/brettspiele/muehle/muehle-7-senkrecht.gif"
                alt="Eine senkrechte Mühle" width="250" height="250"><span></span></a>
        <div style="text-align:center;">Eine senkrechte Mühle</div>
        </p>
        <p>Wenn ein Spieler eine Mühle bildet, darf er einen Spielstein des Gegners vom Spielbrett nehmen. Der
            gegnerische Spielstein, welcher entfernt werden soll, darf sich allerdings nicht in einer Mühle
            befinden!</p>
        <p>Das Bilden von Mühlen ist in allen drei Phasen des Spiels möglich, sodass man bereits während der Setzphase
            Spielsteine des Gegners «eliminieren» kann.</p>
        <h3>Sonderfälle</h3>
        <ol>
            <li>Im Prinzip dürfen keine Steine aus bestehenden Mühlen genommen werden. Nach offiziellen Turnierregeln
                ist dies jedoch erlaubt, wenn kein anderer Stein zur Verfügung steht. Beispiel: Bei sechs Steinen und
                zwei Mühlen, darf man die eine Mühle zerstören.
            </li>
            <li>Werden während der Setzphase durch einen Spielstein zwei Mühlen gleichzeitig gebildet, darf dennoch nur
                ein Spielstein des Gegners entfernt werden.
            </li>
        </ol>
        <h3>Ende des Spiels</h3>
        <p>Das Ende des Spiels ist erreicht, sobald eines der folgenden Szenarien eintritt:</p>
        <ul>
            <li><span><span>&nbsp;</span></span>Ein Spieler hat weniger als drei Spielsteine auf dem Spielbrett (dieser
                Spieler hat verloren).
            </li>
            <li>Ein Spieler kann keinen legalen Zug mehr ausführen, obwohl er an der Reihe ist (dieser Spieler hat
                verloren).
            </li>
            <li>Es wird nach insgesamt 20 Spielzügen von keinem der beiden Spieler eine Mühle gebildet
                (Unentschieden).
            </li>
            <li>Es wird dreimal in Folge die gleiche Stellung der Spielsteine erreicht (Unentschieden).</li>
        </ul>
        <h2 id="Strategien_für_Mühle">Strategien für Mühle</h2>
        <p>Im Prinzip geht es darum, möglichst viele Mühlen zu bilden und dabei die Mühlen des Gegners zu
            blockieren.</p>
    </div>
    <p>Gerade gegen unerfahrene Gegner funktionieren folgende Strategien sehr gut:</p>
    <h3>Beweglichkeit in der Setzphase</h3>
    <p>Zielen Sie in der Setzphase nicht primär darauf ab, Mühlen zu bilden. Es ist strategisch klüger auf
        Flexibilität und Beweglichkeit der eigenen Spielsteine zu achten. Was nützt es Ihnen, mehr Spielsteine zu
        besitzen, wenn Sie nicht mehr ziehen können?</p>
    <h3>Zwei offene Mühlen legen</h3>
    <p>Versuchen Sie, zwei offene Mühlen zu erzeugen. Ihr Gegner kann eine Doppeldrohung nicht mit einem Zug
        verhindern und so verliert er zwangsläufig einen Spielstein. Es ist oftmals besser, eine zweite Drohung
        aufzustellen, bevor man die erste Mühle schliesst.</p>
    <p>Am besten gelingt Ihnen dies, indem Sie zunächst zwei gegenüberliegende Seiten eines unbesetzten Quadrats
        belegen. Im nächsten Zug ziehen Sie einen weiteren Spielstein auf eine der beiden anderen Ecken desselben
        Quadrats. Kurz: Sie besetzten drei Ecken eines Quadrats.</p>
    <h3>Blockade</h3>
    <p>Viele Spieler vergessen, dass man nicht nur das Bilden von Mühlen gewinnt, sondern auch durch die
        vollständige Blockade. Behalten Sie diese Möglichkeit immer im Hinterkopf!</p>
    <h3>Zwickmühle bilden</h3>
    <p>Eine Zwickmühle beschreibt eine Situation, in der man mit einem Spielstein immer wieder zwischen zwei Mühlen
        Hin und Her ziehen kann. Dadurch kann man dem Gegner in jeder Zugrunde einen Spielstein abnehmen. Die
        Bildung einer Zwickmühle ist daher äusserst erstrebenswert.</p>
    <p><a
            href="https://www.chesspoint.ch/img/cms/spielezar/blog/artikel/brettspiele/muehle/muehle-7-zwickmuehle.gif"
    ><img
            src="https://www.chesspoint.ch/img/cms/spielezar/blog/artikel/brettspiele/muehle/muehle-7-zwickmuehle.gif"
            alt="Die Zwickmühle ist eine raffinierte Sache!" width="250" height="250"><span
    ></span></a>
    <div style="text-align:center;">Die Zwickmühle ist eine raffinierte Sache!</div>
    </p>
    <h3>Kreuzungen in der Mitte besetzen</h3>
    <p>Um die Beweglichkeit der Spielsteine sicherzustellen, ist es ratsam, die Kreuzungen in der Spielmitte zu
        belegen. Von dort aus hat man viele Zugmöglichkeiten und kann damit flexibel auf die Aktionen des Gegners
        reagieren.</p>
    <h3>Vorsicht beim Mühle schliessen</h3>
    <p>Eine Mühle schnell zu schliessen, ist nicht immer der sinnvollste Weg. Gerade im innersten Quadrat kann eine
        geschlossene Mühle die eigenen Zugmöglichkeiten einschränken und einem im weiteren Spielverlauf schaden.</p>
</div>

</div>
{% endblock %}