* {
    --background-color: #17223b;
    --surface-color: #263859;
    --primary-color: #6b778d;
    --secondary-color: #ff6768;
    --font-color: #f3f3f3
}

.main {
    height: 100vh;
    width: 100%;
    margin-left: 280px;
    background-color: var(--surface-color);
}

.body {
    display: flex;
}

.footer {
    position: relative;
    font-size: 12px;
    margin-top: 15px;
}

.sidebar {
    display: flex;
    position: fixed;
    width: 280px;
    height: 100vh;
    background: var(--background-color);
}

.sidebar ul li:hover {
    background: var(--surface-color);
    margin-left: 5px;
}


.sidebar_trigger {
    height: 5vh;
    width: 45px;
    display: none;
    background: #fff;
}


#sidebar_icon {
    font-size: 30px;
    color: #000;
    margin: 5px 10px;
}

.sidebar_list_icon {
    width: 25px;
    font-size: 20px;
}

#sidebar_rules_icon {
    filter: invert(0.9);
}


/**
For small devices
*/
@media only screen and (max-width: 700px) {
    .body {
        display: block;
        background: var(--surface-color);

    }

    .sidebar {
        display: none;
        width: 100%;
        height: 95vh;
        z-index: 1;
    }

    .sidebar_trigger {
        display: block;
        text-decoration: none;
        border: 0;
        outline: 0;
        background: var(--surface-color);
    }

    #sidebar_icon {
        color: var(--font-color);
    }

    .sidebar_trigger:hover + .sidebar, .sidebar:hover {
        display: flex !important;
    }

    .sidebar_trigger:hover ~ #main_block, .sidebar:hover ~ #main_block {
        display: none !important;
    }

    .main {
        margin-left: 0px;
    }
}

/**
For mobile devices
 */
@media only screen and (max-device-width: 700px) {
    .body {
        display: block;
        background: var(--surface-color);
    }

    .sidebar {
        display: none;
        width: 100%;
        max-height: 95%;
        z-index: 1;
        animation: open_sidebar 0.4s;
        font-size: 6em;
    }

    #sidebar_icon {
        font-size: 90px;
        margin: 10px 20px;
        color: var(--font-color);
    }

    .sidebar_trigger {
        display: block;
        width: 100px;
        outline: 0;
        border: 0;
        background: var(--surface-color);
    }

    .sidebar_trigger:hover + .sidebar, .sidebar:hover {
        display: flex;
    }

    .sidebar_trigger:hover ~ #main_block, .sidebar:hover ~ #main_block {
        display: none;
    }

    .sidebar_list_icon {
        width: 90px;
        font-size: 85px;
    }

    .main {
        margin-left: 0px;
        font-size: 40px;
    }

    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 45px;
    }

    h3 {
        font-size: 40px;
    }
}
