
h2 {
    color: var(--secondary-color);
    padding: 10px;
}

.main_container {
    width: 100%;
    background: var(--surface-color);
    display: grid;
    grid-template-columns: 70% 30%;
    color: var(--font-color);
    min-height: 100%;
}


.play_container {
    display: flex;
    height: 20%;
    min-height: 160px;

}

.container_item {
    background: var(--background-color);
    width: 100%;
}

.play_friend {
    width: calc(50% - 30px);
    margin: 20px;
    margin-right: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play_button {
    text-decoration: none;
    color: var(--font-color);
    font-size: 20px;
    background: transparent;
    border: none;
    width: 100%;
    height: 100%;
    display: grid;
}

.play_button:hover i {
    font-size: 60px;
}

.play_button i {
    font-size: 50px;
    margin-top: 5%;
}


.play_bot {
    width: calc(50% - 30px);
    margin: 20px;
    margin-left: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play_bot button {
    text-decoration: none;
    color: var(--font-color);
    font-size: 20px;
    background: transparent;
    border: none;
    width: 100%;
    height: 100%;
}

.active_games {
    height: calc(35vh - 20px);
    margin: 20px;
    width: calc(100% - 40px);
    margin-top: 0px;
}

.active_games div {
    overflow: auto;
    height: 80%;
}

.active_games table {
    width: 90%;
    margin: 0 5%;
    border-collapse: separate;
    border-spacing: 0 10px;
}

.active_games table tr {
    height: 40px;
    padding: 5px;
    background: rgba(39, 49, 74, .5);
    cursor: pointer;
}

.active_games table tr td:nth-child(1) {
    width: 45%;
    padding-left: 30px;
}

.active_games table tr td:nth-child(2) {
    width: 10%;
    text-align: center;
}

.active_games table tr td:nth-child(3) {
    width: 45%;
    text-align: right;
    padding-right: 30px;
}


.game_history {
    height: calc(45vh - 40px);
    width: calc(100% - 40px);
    margin: 20px;
}

.game_history div {
    overflow: auto;
    height: 80%;
}

.game_history hr {
    color: var(--primary-color);
    width: 90%;
    margin: auto;
}

.game_history table {
    width: 90%;
    margin: 5%;
    margin-top: 2%;
    overflow: auto;
    border-collapse: separate;
    border-spacing: 0 10px;
}

.game_history table thead tr th:nth-child(1) {
    width: 65%;
    padding-left: 20px;
}

.game_history table thead tr th:nth-child(2) {
    width: 15%;
}

.game_history table thead tr th:nth-child(3) {
    width: 20%;
}

.game_history table tbody tr {
    height: 50px;
    padding: 5px;
    background: rgba(39, 49, 74, .5);
}

.game_history table tbody tr td {
    padding: 5px;
}

.game_history table tbody tr td div {
    display: grid;
}

.game_history table tbody tr td:nth-child(1) {
    padding-left: 30px;
}


.statistics {
    margin: 20px;
    height: calc(30% - 40px);
    width: calc(100% - 30px);
    margin-left: 10px;
}

.leaderboard {
    margin: 20px;
    height: calc(70% - 40px);
    width: calc(100% - 30px);
    margin-left: 10px;
}

.leaderboard div {
    overflow: auto;
    height: 80%;
    max-height: 60vh;
}

.leaderboard hr {
    color: var(--primary-color);
    width: 90%;
    margin: auto;
}

.leaderboard table {
    margin: 5%;
    overflow: auto;
}

.leaderboard table tr {
    margin: 5px;
}

.leaderboard table tr td {
    padding: 5px;
}

#piechart {
    width: 100%;
    height: 100%;
    margin-top: -15%;
}

@media only screen and (max-width: 1050px) {

    .main_container {
        display: block;
    }

    .leaderboard {
        margin: 20px;
        width: calc(100% - 40px);
    }

    .statistics {
        margin: 20px;
        width: calc(100% - 40px);
    }

    #piechart {
        margin-top: 0;
    }
}

@media only screen and (max-height: 900px) {
    .game_history div {
        height: 65%;
    }

    .active_games div {
        height: 65%;
    }
}

@media only screen and (max-device-width: 700px) {
    .play_bot button {
        font-size: 40px;
    }

    .play_friend button {
        font-size: 40px;
    }
}